{% extends "padre.html"%}
{% load static%}

{% block cambiante %}
    <div class="container my-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Últimas Recomendaciones</h1>
                <ul class="list-group">
                    {% for recomendacion in recomendaciones %}
                        <li class="list-group-item mb-4 border">
                            <h2>{{ recomendacion.videojuego.nombre|upper }}</h2>
                            <p class="mb-1"><strong>Usuario:</strong> {{ recomendacion.usuario.username }}</p>
                            <p class="mb-1"><strong>Puntuación:</strong> {{ recomendacion.puntuacion }}</p>
                            <p class="mb-1"><strong>Fecha:</strong> {{ recomendacion.fecha }}</p>
                            <p><strong>Comentario:</strong> {{ recomendacion.comentario }}</p>
                            {% if recomendacion.imagen %}
                                <img src="{{ recomendacion.imagen.url }}" alt="{{ recomendacion.videojuego.nombre }}"
                                    class="img-fluid rounded" style="max-width: 200px;">
                            {% endif %}
                            <p>
                                <a href="{% url 'recomendacion_detalle' pk=recomendacion.pk %}" class="btn btn-primary">Ver detalles</a>
                            {% if recomendacion.usuario == user %}
                                <a href="{% url 'editar_recomendacion' recomendacion.id %}" class="btn btn-secondary">Editar</a>
                                <a href="{% url 'eliminar_recomendacion' recomendacion.id %}" class="btn btn-danger">Eliminar</a>
                            {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                <nav aria-label="Recomendaciones Pagination">>
                    
                    <ul class="pagination justify-content-center mt-4">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">Primera</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <li class="page-item active">
                                    <span class="page-link">{{ num }} <span class="sr-only"></span></span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
                            </li>
                        {% endif %}
                    </ul>

              
                </div>
            </div>
        </div>
    </div>
{% endblock %}
