

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrando Sesión</title>
    <!-- Agregar el enlace a los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">

    <div class="text-center">
        <h1>Cerrando Sesión</h1>
        <!-- Opcionalmente, puedes agregar un ícono de carga o animación para hacerlo más interesante -->
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <script>
        // Redirigir después de 2 segundos (2000 milisegundos)
        setTimeout(function () {
            window.location.href = "{% url 'Inicio' %}";
        }, 2000);
    </script>

    <!-- Agregar el enlace a los archivos JS de Bootstrap (opcional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>

